# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="" # prisma db seed 이용 시 prisma의 connection_limit 값 조절 필요
TWILLO_ACCOUNT_SID=""
TWILLO_TOKEN=""
TWILLO_MESSAGE_SID=""
TWILLO_PHONE_NUMBER=""
SENDGRID_KEY=""
NAVER_MAIL=""
NAVER_MAIL_ID=""
NAVER_MAIL_PASSWORD=""
IRON_COOKIE_NAME=""
IRON_COOKIE_PASSWORD=""
